INFURA_API_KEY=zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
ALCHEMY_URL=https://eth-mainnet.alchemyapi.io/v2/zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
MNEMONIC=here is where your twelve words mnemonic should be put my friend
HARDHAT_FORK=mainnet
HARDHAT_FORK_NUMBER=13000000
